@page "/employee-page"
@using Service.Entity
@using Service.Enums
@using Services.Service.Implementations
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<h3>Employee</h3>
<br />  

@if(employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Button Size="Size.Small" Color="ButtonColor.Primary" Class="mb-3" @onclick="(e=>ShowModalAdd())"> Add Employee </Button>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees!)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName @employee.LastName</td>
                    <td>@employee.Salary</td>
                    <td>@employee.Department</td>
                    <td>
                        <Button Size="Size.Small" Color="ButtonColor.Secondary" Class="mb-3" @onclick="(e=>Remove(employee.EmployeeId))"> 
                            Remove 
                        </Button>
                        <Button Size="Size.Small" Color="ButtonColor.Secondary" Class="mb-3" @onclick="(e=>BtnAssignDepartmentClick(employee))">
                            Assign Department 
                        </Button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Modal @ref="modalAdd" Title="Add Employee" UseStaticBackdrop="true" CloseOnEscape="false" ShowCloseButton="false">
    <BodyTemplate>
        <form>
            <div class="form-group mb-1">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control sm" id="firstName" @bind="employee.FirstName">
            </div>
            <div class="form-group mb-1">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control sm" id="lastName" @bind="employee.LastName">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" class="form-control sm" id="salary" @bind="employee.Salary">
            </div>
            <hr />
            <Button Size=Size.Small Color="ButtonColor.Secondary" @onclick="(e=>HideModalAdd())">Close</Button>
            <Button Size=Size.Small Color="ButtonColor.Primary" @onclick="AddEmployee">Save changes</Button>
        </form>
    </BodyTemplate>
</Modal>

<Modal @ref="modalAssignDep" Title="Assign Department">
    <BodyTemplate>
        <form>
            <select class="form-select form-select-md" @bind="selectedDepartment">
                @foreach (Department enumValue in Enum.GetValues(typeof(Department)))
                {
                    <option value="@enumValue">@enumValue.ToString()</option>
                }
            </select>
            <hr />
            <Button Size=Size.Small Color="ButtonColor.Secondary" @onclick="(e=>HideModalAdd())">Close</Button>
            <Button Size=Size.Small Color="ButtonColor.Primary" @onclick="(e=>AssignDepartment())">Save changes</Button>
        </form>
    </BodyTemplate>
</Modal>

@code {
    private EmployeeManager employeeManager = new EmployeeManager();
    private List<Employee>? employees;
    private Employee employee = null!; //not null
    private Department selectedDepartment;
    private Modal modalAdd = new Modal();
    private Modal modalAssignDep = new Modal();

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        employees = GetEmployees();
    }

    private List<Employee> GetEmployees()
    {
        //Get emolyees from Service
        return employees = employeeManager.Display();
    }

    private void Remove(int id)
    {
        //Remove employee by id
        employeeManager.Remove(id);
    }

    private async void AssignDepartment()
    {
        //Assign employee department
        employeeManager.AssignEmployeeToDepartment(selectedDepartment, this.employee);
        await modalAssignDep.HideAsync();
    }

    private async void AddEmployee()
    {
        employeeManager.Add(this.employee);
        await modalAdd.HideAsync();
    }

    private async Task BtnAssignDepartmentClick(Employee paramEmp)
    {
        this.employee = paramEmp;
        await modalAssignDep.ShowAsync();
    }

    private async Task ShowModalAdd()
    {
        this.employee = new();
        await modalAdd.ShowAsync();
    }

    private async Task HideModalAdd()
    {
        if (this.employee != null) { this.employee.Dispose(); }
        await modalAdd.HideAsync();
    }

}
